.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e5c8e9;
}

.container-card_buttons {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.img {
    width: 30px;
    height: 30px;
}

.count {
    padding-top: 1%;
    padding-bottom: 1%;
}

.learnedCount {
    padding-bottom: 5%;
}

.table-button {
    appearance: none;
    border: 0;
    margin: 0; padding: 0;
    outline: none;
    background-color: transparent;
}

.disabled {
    opacity: .3;
}

