.container-card {
    display: flex;
    flex-direction: column;
    background: #8d809c;
    height: 350px;
    width: 250px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;
    margin-top: 50px;
    margin-left: 40%;
    color: white;
}

.container-card_title {
    font-size: 40px;
}

.container-card_transcription {
    margin-top: -120px;
}

.container-card_button {
    background-color: #c7a8d2; /* Green */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container-card_button:hover {
    background-color: white;
    color: #7f6681;
}