.footer {
    background-color: #9e739e;
    height: 70px;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
}
.container-icons {
    display: flex;
    margin-left: 90%;
    width: 5%;
    justify-content: space-between;

}

.img-icon {
    height: 20px;
    width: 20px;
}