

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #e5c8e9;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #b583b5;
}

.homeItem {
  display: flex;
  align-items: center;
  width: 10%;
  color: white;
  text-decoration: none;
}
.signItems {
  display: flex;
  width: 10%;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
  }
}

/*.sign-items a {*/
/*  color: white;*/
/*  text-decoration: none;*/
/*}*/

